form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 24px;
    padding: 16px;
}

.column {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.action-container {
    display: flex;
    justify-content: flex-end;
    gap: 16px;
    padding: 16px;
}

.spinner-container {
    width: 82px;
    display: flex;
    justify-content: center;
    align-items: center;
}